<!DOCTYPE html>
<html ng-app="fareApp">
<head>
    <title>Cab Fare Calculator</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap -->
    <!-- jQuery_UI assets (used for datepicker)-->
    <link rel="stylesheet" href="../assets/jQuery_UI/jquery-ui.min.css" />
    <link rel="stylesheet" href="../assets/jQuery_UI/jquery-ui.theme.css" />

    <script src="../assets/jQuery_UI/jquery.js"></script>
    <script src="../assets/jQuery_UI/jquery-ui.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Custom JS -->
    <script src="../app/controllers/mainController.js"></script> <!-- load up our controller -->
    <script src="../app/services/fareService.js"></script> <!-- load our fare service -->
    <script src="../app/core.js"></script> <!-- load our main application -->


</head>
<body ng-controller="mainController">
    <div class="container">
        <div class="row">
            <h1 style="margin-bottom:60px;">Cab Fare Calculator</h1>

            <!-- FORM TO CREATE FARES -->
            <div class="col-sm-3">              
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputMinsAboveSix">Minutes above 6 MPH: </label>
                        <input type="text" class="form-control numeric" id="inputMinsAboveSix" ng-model="formData.minsAbove6">
                    </div>
                    <div class="form-group">
                        <label for="inputMilesBelowSix">Miles below 6 MPH: </label>
                        <input type="text" class="form-control numeric" id="inputMilesBelowSix" ng-model="formData.milesBelow6">
                    </div>
                    <div class="form-group">
                        <label for="inputDate">Date: </label>
                        <input type="text" class="form-control" id="inputDate" ng-model="formData.date">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12" for="inputTime">Time of Start of Ride: </label>
                        <div class="col-sm-4">
                            <select class="form-control" id="inputHour" ng-model="formData.hour">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="inputMin" ng-model="formData.min">
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" id="inputAmPm" ng-model="formData.ampm">
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary form-control" ng-click="createFare()">Create</button>
                </form>
            </div>

            <!-- TABLE TO DISPLAY CREATED FARES -->
            <div class="col-sm-1"></div>

            <div class="col-sm-8">
                <table class="table" ng-show="fares">
                    <thead>
                        <tr>
                            <th>Min above 6 MPH</th>
                            <th>Miles below 6 MPH</th>
                            <th>Date</th>
                            <th>Start Time</th>
                            <th>Total Fare</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="fare in fares">
                            <td>{{ fare.minsAbove6 }}</td>
                            <td>{{ fare.milesBelow6 }}</td>
                            <td>{{ fare.date }}</td>
                            <td>{{ fare.hour }}:{{ fare.min }} {{ fare.ampm }}</td>
                            <td>${{ fare.cost }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>